/* src/app/register/register.component.css */

/* Estilos para el contenedor principal del registro */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

button {
    background-color: rgb(255, 0, 0);
    max-width: fit-content;
    margin: 15px auto;
}

/* Estilo para el título del formulario de registro */
h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #343a40;
}

/* Estilo del formulario */
.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Estilo para los campos de formulario */
.form-field {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo para mensajes de error */
.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 5px;
}